@import '../../scss/App.scss';

.dropdown_list {
    & * {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        border-radius: 16px;
    }
}

.dropdown_menu {
    min-width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    padding: 0px;
    border-width: 2px;
    inset: 0px 0px auto auto !important;

    &::-webkit-scrollbar-thumb {
        background-color: lightgray;
    }
}

.dropdown_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: gray;
    border: 2px solid lightgray;
    border-color: $turquoise_opacity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    & p {
        word-wrap: normal;
        white-space: pre-wrap;
        margin: 0px;
    }

    &::after {
        all: unset;
    }

    &:hover {
        background-color: lightgray;
        border-color: $turquoise_opacity;
        color: $turquoise_opacity;
    }

    &:disabled {
        border-color: darkgray;
    }
}

.dropdown_btn:active, .dropdown_btn:focus, .btn.show, .btn:first-child:active {
    background-color: lightgray;
    border-color: $turquoise;
    color: $turquoise;
}

.dropdown_item {
    width: inherit;
    border-radius: 0px;
    padding: 5px auto 5px auto;
    color: gray;

    &:active {
        background-color: lightgray;
        color: dimgray;
    }
}


@media (max-width: 1100px) {
    .dropdown_list {
        & *:not(svg) {
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .dropdown_list {
        & *:not(svg) {
            font-size: 15px;
        }

        & p {
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .dropdown_list p {
        font-size: 12px;
    }

    .dropdown_item {
        font-size: 12px !important;
    }
}