@import "../../../scss/App.scss";

.modal-content{
    width: 610px;
    border-radius: 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal !important;
    font-weight: 400 !important;

    .modal-header{
        padding: 23px 26px 7px 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .modal-header__title{
        font-size: 35px !important;
        color: $purple;
        height: 50px;
        line-height: 41px;
    }
    .btn-close{
        color: $purple;
    }
    .modal-body{
        padding: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modal-body__form{
        margin-bottom: 50px;
    }
    .modal-body__button{
        border-radius: 5px;
        background-color: #5FBC47;
        border: none;
        padding: 6px 9px;
        text-align: center;
        color: #fff;
        height: 41px;
        width: 198px;
        font-size: 25px !important;
        line-height: 25px;
        align-self: end;
    }
}

.form{
    width: 80%;
    font-weight: 300 !important;

    .form-input{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        align-items: center;
    }
    .form-input__label{
        line-height: 40px;
        height: 40px;
        font-size: 30px !important;
        margin-bottom: 0;
    }
    .form-input__control{
        background-color: #DEEFFF;
        width: 300px;
        height: 40px;
        outline: none;
        border: none;
        font-size: 20px !important;
        &:focus{
            outline: $purple;
        }
    }

    .form-input__control_bad{
        border : 3px solid rgb(255, 114, 114);
    }
}