@import "../../index.scss";

.header_logo {
  font-family: "Montserrat", sans-serif;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 35px !important;
  color: $turquoise !important;
}

.header_link {
  font-family: "Montserrat", sans-serif;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 25px !important;
  color: $turquoise !important;
  margin: 0px 7px;

  &:hover {
    color: #667eea !important;
  }
}

.header_link_exit {
  font-family: "Montserrat", sans-serif;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 25px !important;
  color: $red-header !important;
  margin-left: 30px;
}

.navbar-toggler {
  color: $turquoise !important;
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(56, 178, 172)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 1100px) {
  .header_logo {
    font-size: 28px !important;
  }

  .header_link {
    font-size: 20px !important;
  }

  .header_link_exit {
    font-size: 20px !important;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .header_logo {
    font-size: 20px !important;
    margin: 0px;
  }

  .header_link {
    font-size: 16px !important;
    margin: 0px;
  }

  .header_link_exit {
    font-size: 16px !important;
    margin: 0px;
  }
}
