@import "../../index.scss";

.row_history_detail {
  font-size: 26px;
  color: black;

  .input_indicators{
    background-color: #DEEFFF;
  }
}

.badge-info{
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(252, 255, 102);
  width: fit-content;
  display: inline;
  margin: 5px;
  font-size: 22px;
}

.badge-success {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #8BFF90;
  width: fit-content;
  display: inline;
  margin: 5px;
  font-size: 22px;
}

.badge-danger {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #EA5151;
  width: fit-content;
  display: inline;
  margin: 5px;
  font-size: 22px;
}

@media (max-width: 992px) {
  .indicators_good-title {
    font-size: 16px;
  }

  .indicators_bad-title {
    font-size: 16px;
  }

  .badge-success {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
  }

  .badge-danger {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
  }

  .badge-info{
    padding: 5px;
    margin: 5px;
    font-size: 16px;
  }

  .indicators_form-name {
    font-size: 20px;
    vertical-align: middle;
  }

  .goback_title {
    font-size: 20px;
  }
}

@media (max-width: 567px) {
  .goback_title {
    font-size: 16px;
  }

  .indicators_form-name {
    font-size: 20px;
    vertical-align: middle;
  }
}
