@font-face {
    font-family: 'MontserratRegular';
    src: url('../assets/fonts/Montserrat/Montserrat.eot');
    src: url('../assets/fonts/Montserrat/Montserrat.eot') format('embedded-opentype'),
         url('../assets/fonts/Montserrat/Montserrat.woff2') format('woff2'),
         url('../assets/fonts/Montserrat/Montserrat.woff') format('woff'),
         url('../assets/fonts/Montserrat/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto.eot');
    src: url('../assets/fonts/Roboto/Roboto.eot') format('embedded-opentype'),
         url('../assets/fonts/Roboto/Roboto.woff2') format('woff2'),
         url('../assets/fonts/Roboto/Roboto.woff') format('woff'),
         url('../assets/fonts/Roboto/Roboto.ttf') format('truetype');
}
