@use './fonts';

// colors
$accent: #38B2AC;
$red: #E92347;
$blue: #0060F0;
$lightblue: #DEEFFF;
$purple: #667EEA;
$light: #FFFFFF;
$dark: #000000;

// fonts
$fontRoboto: 'Roboto', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$textBaseSize: 16px;