@import "../../index.scss";

.modal_history {
  color: $purple;

  .btn-close {
    fill: $purple !important;
  }

  table {
    border-collapse: separate;
    border-spacing: 5px;
    border-color: rgba(255, 255, 255, 0);
  }

  .view_col,
  .delete_col,
  .id_col_row {
    display: table-cell;
  }

  @media (max-width: 991px) {
    .type_col{
      display: none;
    }
  }

  @media (max-width: 767px) {
    thead th {
      font-size: 12px;
    }

    .view_col,
    .delete_col {
      display: table-cell;
    }

    .id_col_row {
      display: table-cell;
    }
  }

  @media (max-width: 567px) {
    thead th {
      font-size: 12px;
    }

    .id_col_row {
      display: table-cell;
    }

    .view_col,
    .delete_col {
      display: none;
    }
  }

  @media (max-width: 367px) {
    .id_col_row {
      display: none;
    }
  }
}
